/* Color de borde lo cambio aca
    porque con Card bg... cambia todo junto 
    y los border que me ofrece ese componente tmp me quedaban bien */
.mi-card {
    border-color: lightgray;
}

.btn-repo {
    border: none;
}