.frase {
    height: 400px;
    background-color: #fedbd0;
    color: #746460;
}

.frase-text {
    font-style: italic;
    font-weight: bold;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}